<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emilovich.boyscout" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.CompassActivity"
            android:label="@string/title_activity_compass"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.MorseActivity"
            android:label="@string/title_activity_morse"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.WeatherActivity"
            android:label="@string/title_activity_weather"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.GPSActivity"
            android:label="@string/title_activity_gps"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.AlarmSettingsActivity"
            android:label="@string/title_activity_alarm_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.MorseCodesActivity"
            android:label="@string/title_activity_morse_codes"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
